{% extends 'base.html' %}
{% if current_user.is_authenticated %}
{% set subject = current_user.name %}
{% set amount = (get_balance(current_user.id) | abs) if get_balance(current_user.id) < 0 else 1000 %}
{% else %}
{% set subject = 'YOUR NAME' %}
{% set amount = 1000 %}
{% endif %}

{% block pagetitle %}Bank Account{% endblock %}

{% block content %}
{% if bank_data is not none %}
    <div class="row justify-content-center py-3">
        <div class="col-12 col-xl-6">
            <table class="table">
{% for key, val in bank_data.items() %}
                    <tr>
                        <th scope="row">{{ key }}</th>
                        <td>{{ val }}</td>
                    </tr>
{% endfor %}
                    <tr>
                        <th scope="row"><label for="amount">Amount</label></th>
                        <td>
                            <div  class="input-group">
                                <span class="input-group-text">€</span>
                                <input class="form-control" type="number" id="amount" min="0" step="0.10" value="{{ '%0.2f' | format(amount / 100)  }}"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Reason for payment</th>
                        <td>{{ subject }}</td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="row py-3 row-gap-3 justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <p style="text-align: center">To top up your Account transfer your wanted amount to the Account provided above.<br>You can also use the EPC-QR Code provided below.</p>
        </div>
        <div class="col-12 d-flex justify-content-center" id="qrcode"></div>
    </div>
{% endif %}
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
{% if bank_data is not none %}
<script type="application/javascript">
function qrCodeText(amount) {
    return `BCD
002
1
SCT
{{ bank_data.BIC }}
{{ bank_data.Owner }}
{{ bank_data.IBAN }}
EUR${amount.toFixed(2)}


{{ subject }}
`;
}

document.addEventListener("DOMContentLoaded", function () {
    let amount = {{ amount }} / 100;
    let qrcode = new QRCode(
        document.getElementById("qrcode"),
        {
            text: qrCodeText(amount),
            correctLevel: QRCode.CorrectLevel.H,
        }
    );

    let input = document.getElementById("amount")
    input.addEventListener("input", function () {
        amount = this.valueAsNumber
        qrcode.makeCode(qrCodeText(amount))
    })
});
</script>
{% endif %}
{% endblock %}