{% extends 'base.html' %}
{% set food_icons = ['burger', 'cloud-meatball', 'candy-cane', 'ice-cream', 'pizza-slice'] %}
{% set drink_icons = ['mug-hot', 'whiskey-glass'] %}
{% set alc_icons = ['beer-mug-empty', 'martini-glass', 'wine-bottle'] %}

{% block utilbar %}
    <div class="navbar navbar-light bg-light">
        <div class="container row-cols-1 row-cols-lg-auto">
            {% if impersonate_user is not none %}
            <div class="d-flex align-items-center me-lg-auto">
                <i class="fa-solid fa-user-secret text-danger me-1"></i>
                <span class="text-danger me-3">Impersonating {{ impersonate_user.name }}</span>
                <a role="button" class="btn btn-danger"
                   href="{{ url_for('admin.users.pop_impersonate') }}">Disable</a>
            </div>
            {% endif %}

            {% if last_revenue is not none %}
            <div class="d-flex align-items-center">
                <span class="me-2">Last Buy: {{ last_revenue_product_name }} for {{ macro.render_currency(last_revenue.amount) }} ({{ last_revenue.date.strftime('%Y-%m-%d %H:%M') }})</span>
                {%  if last_revenue_cancelable %}
                <a role="button" class="btn btn-danger" href="{{ url_for('main.quick_cancel') }}">Cancel</a>
                {%  endif %}
            </div>
            {% endif %}

            <div class="row row-cols-1 row-cols-lg-auto d-flex ms-auto">
            <div>
                <span class="nav-link text-dark">User: {{ user_name }}</span>
            </div>
            <div>
                <span class="nav-link text-dark">Balance: {{ macro.render_currency(get_balance(get_user_id())) }}</span>
            </div>
            </div>

            <div class="ms-3 justify-content-end">
                {% if view_all == True %}
                    <a role="button" class="btn btn-outline-info me-2 active" href="{{ url_for('main.index') }}">View
                        all</a>
                {% else %}
                    <a role="button" class="btn btn-outline-info"
                       href="{{ url_for('main.index', view_all=True) }}">View all</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if frozen %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Account frozen!</h4>
        <p>Your account has been frozen by an administrator. As a result, purchases are currently not possible.</p>
        <p>Please contact an administrator to resolve this issue.</p>
    </div>
    {% else %}
    <form action="{{ url_for('main.index') }}" method="post">
        {{ form.csrf_token }}
        {% if session.get('terminal', False) %}
            <div class="row mt-2 mb-3 form">
                <div class="col">
                    {{ form.ean(class="form-control") }}
                </div>
                <div class="col-auto">
                    <input type="submit" role="button" class="btn btn-primary">
                </div>
            </div>
        {% endif %}
        <div class="row row-cols-lg-4 row-cols-1 g-3">
        {% for product in products %}
            {% if product.visible or view_all %}
                {% if product in favorites %}
                    {% set class = 'btn-primary' %}
                {% else %}
                    {% set class = 'btn-outline-primary' %}
                {% endif %}
                <div class="d-grid">
                    <button type="submit" class="btn {{ class }} p-4" name="product_id" value="{{ product.id }}">
                    {% if product in favorites %}
                        {% set icon = "star" %}
                    {% elif product.is_food %}
                        {% set icon = (food_icons | random) %}
                    {% else %}
                        {% if product.has_alc %}
                            {% set icon = (alc_icons | random) %}
                        {% else %}
                            {% set icon = (drink_icons | random) %}
                        {% endif %}
                    {% endif %}
                        <div class="row align-items-center">
                            <div class="col-3"><i class="fa-solid fa-{{ icon }} fa-3x"></i></div>
                            <div class="col-9 row align-items-center">
                                <div class="col-12 mb-2">{{ product.name }}</div>
                                <div class="col-12">{{ macro.render_currency(product.price) }}</div>
                            </div>
                        </div>
                    </button>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </form>
    {% endif %}
{% endblock %}
