{% extends "base.html" %}
{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}
{% block main %}
    <div class="text-center align-items-center m-auto p-3">
        <div class="mb-3">
            <i class="mb-4 fas fa-cash-register fa-7x"></i>
            <h1>NANPOS Web</h1>
            {% if session.get('terminal', False) %}
                <h2>Terminal</h2>
            {% endif %}
            <h2>At least better than Counter Solutions...</h2>
        </div>

        <form class="form-signin" action="{{ url_for('auth.login', terminal=request.args.get('terminal')) }}"
              method="post">
            {{ form.csrf_token }}
            <div class="form-floating">
                {{ form.username(class='form-control') }}
                {{ form.username.label }}
            </div>
            <div class="form-floating">
                {{ form.pin(class='form-control') }}
                {{ form.pin.label }}
            </div>
            {% if session.get('terminal', False) == False %}
                <div class="checkbox mb-3">
                    {{ form.remember }}
                    {{ form.remember.label }}
                </div>
            {% endif %}
            {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
        </form>
        {% if oidc_providers | length > 0 %}
            <hr/>
            <h4>Login with external provider</h3>
            {% for provider in oidc_providers %}
                <a href="{{ url_for('oidc.redirect_to_provider', provider_name=provider.name) }}" class="btn btn-{{ provider.color }}" role="button">{{ provider.name }}</a><br/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}