{% extends 'base.html' %}
{% block pagetitle %}Change PIN{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form class="w-50" method="post" action="{{ url_for('account.pin') }}">
            {{ form.csrf_token }}
            <div class="row g-3 mb-3">
                <div class="col-9">
                    <div class="form-floating">
                        {{ form.old_pin(class="form-control") }}
                        {{ form.old_pin.label }}
                    </div>
                </div>
                <div class="col-3 p-3">
                    <div class="form-check">
                        {{ form.unset_pin(class="form-check-input") }}
                        {{ form.unset_pin.label }}
                    </div>
                </div>
            </div>
            {{ macro.render_field(form.new_pin) }}
            {{ macro.render_field(form.confirm_pin) }}
            <div class="row mt-3">
                {{ form.change_pin(class="col mx-3 btn btn-success") }}
                <a role="button" href="{{ url_for('main.index') }}" class="col mx-3 btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}