{% extends 'base.html' %}
{% block pagetitle %}
    {% if edit %}
        Edit user
    {% else %}
        Add user
    {% endif %}
{% endblock %}


{% block content %}
    <div class="d-flex justify-content-center">
        <form class="w-50" method="post" action="{{ url_for('admin.users.post') }}">
            {{ form.csrf_token }}
            {% if edit %}
                {{ macro.render_field(form.id) }}
            {% endif %}
            {{ macro.render_field(form.name) }}
            <div class="row g-3 mb-3">
                <div class="col-9">
                    <div class="form-floating">
                        {{ form.card(class="form-control") }}
                        {{ form.card.label }}
                    </div>
                </div>
                <div class="col-3 p-3">
                    <div class="form-check">
                        {{ form.unset_card(class="form-check-input") }}
                        {{ form.unset_card.label }}
                    </div>
                </div>
            </div>
            {% if is_external %}
            <div class="row g-3 mb-3">
                <div class="col">
                    <p>User is external. No PIN change possible.</p>
                </div>
            </div>
            {% else %}
            <div class="row g-3 mb-3">
                <div class="col-9">
                    <div class="form-floating">
                        {{ form.pin(class="form-control") }}
                        {{ form.pin.label }}
                    </div>
                </div>
                <div class="col-3 p-3">
                    <div class="form-check">
                        {{ form.unset_pin(class="form-check-input") }}
                        {{ form.unset_pin.label }}
                    </div>
                </div>
            </div>
            {% endif %}
            {{ macro.render_checkbox(form.isop) }}
            {{ macro.render_checkbox(form.frozen) }}
            <div class="row mt-3">
                <button type="submit" class="col mx-3 btn btn-success">
                    {% if edit %}
                        Update
                    {% else %}
                        Create
                    {% endif %}
                </button>
                <a role="button" href="{{ url_for('admin.users.index') }}" class="col mx-3 btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}