{% extends 'base.html' %}
{% block pagetitle %}Users{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="width: 8rem">Impersonate</th>
            <th scope="col">Name</th>
            <th scope="col" style="width: 9rem">Balance</th>
            <th scope="col" class="text-center">Card</th>
            <th scope="col" class="text-center">Admin</th>
            <th scope="col" class="text-center">Frozen</th>
            <th scope="col" class="text-center">PIN</th>
            <th scope="col" style="width: 8rem">Revenues</th>
            <th scope="col">
                <div class="row">
                    <a role="button" class="btn btn-success btn-sm col mx-1" href="{{ url_for('admin.users.add') }}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for user, balance in users %}
            <tr>
                <td>
                    <a role="button" class="btn btn-primary btn-sm px-4"
                       href="{{ url_for('admin.users.impersonate', user_id=user.id) }}">
                        <i class="fa-solid fa-user-secret"></i>
                    </a>
                </td>
                <td>{{ user.name }}</td>
                <td class="text-end">
                    {{ macro.render_currency(balance) }}
                    <a role="button" class="btn btn-success btn-sm ms-2"
                       href="{{ url_for('admin.users.balance', user_id=user.id) }}">
                        <i class="fa-solid fa-plus-minus px-1"></i>
                    </a>
                </td>
                <td class="text-center">{% if user.card is not none %}
                    <i class="fa-solid fa-id-card-clip"></i>{% endif %}</td>
                <td class="text-center">{{ macro.render_bool(user.isop) }}</td>
                <td class="text-center">{{ macro.render_bool(user.frozen) }}</td>
                <td class="text-center">{% if user.pin is not none %}<i class="fa-solid fa-lock"></i>{% endif %}</td>
                <td>
                    <a role="button" class="btn btn-primary btn-sm px-4"
                       href="{{ url_for('admin.users.revenues', user_id=user.id) }}">
                        <i class="fa-solid fa-list"></i>
                    </a>
                </td>
                <td>
                    <div class="row">
                        <a role="button" class="btn btn-primary btn-sm col mx-1"
                           href="{{ url_for('admin.users.edit', user_id=user.id) }}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button type="button" class="btn btn-danger btn-sm col mx-1" data-bs-toggle="modal"
                                data-bs-target="#delete{{ user.id }}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for user, _balance in users %}
        <div class="modal fade" id="delete{{ user.id }}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete{{ user.id }}">Confirm delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the user "{{ user.name }}"?
                    </div>
                    <div class="modal-footer">
                        <a role="button" class="btn btn-danger"
                           href="{{ url_for('admin.users.delete', user_id=user.id) }}">
                            Confirm
                        </a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}