body {
    font-family: 'Noto Sans', sans-serif;
}

main {
    overflow-x: hidden;
    overflow-y: auto;
}

main > .container {
    padding-top: 9px;
    padding-bottom: 65px;
}

/* Chrome, Safari, Edge, Opera */
input#ean::-webkit-outer-spin-button,
input#ean::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input#ean[type=number] {
    -moz-appearance: textfield;
}

footer > div > div {
    justify-content: center;
}

footer > div > div > div > a {
    text-decoration: none;
}

footer > div > div > div > a:hover {
    text-decoration: underline;
}
